.EmiCalculatorBenifit_title__AbZ7B {
    color: #465b97;
    font-size: 32px;
    font-weight: 600
}

.EmiCalculatorBenifit_layout__TXXBa {
    background: linear-gradient(101.3deg, #ecf2ff, #fee);
    padding: 50px 0;
    margin: 30px 0 50px
}

.EmiCalculatorBenifit_cards__FDj_Z {
    gap: 4%;
    margin-top: 50px
}

.EmiCalculatorBenifit_card__BU4tY {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 0 #465b9729;
    max-width: 360px
}

.EmiCalculatorBenifit_card__BU4tY h3 {
    font-size: 20px;
    font-weight: 600
}

.EmiCalculatorBenifit_card__BU4tY p {
    font-size: 18px;
    line-height: 30px
}

@media (max-width:1200px) {
    .EmiCalculatorBenifit_card__BU4tY {
        max-width: 300px
    }
}

@media (max-width:1000px) {
    .EmiCalculatorBenifit_cards__FDj_Z {
        flex-wrap: wrap;
        gap: 40px
    }
}

@media (max-width:476px) {
    .EmiCalculatorBenifit_title__AbZ7B {
        font-size: 28px
    }
    .EmiCalculatorBenifit_card__BU4tY {
        max-width: 100%
    }
}

.EmiCalculatorFeature_layout__d_R8e {
    margin: 50px auto 80px
}

.EmiCalculatorFeature_title__fSnOO {
    font-size: 32px;
    font-weight: 600
}

.EmiCalculatorFeature_card__RA9EB img {
    width: 30px;
    height: 30px
}

.EmiCalculatorFeature_card__RA9EB h3 {
    font-size: 18px;
    font-weight: 600
}

.EmiCalculatorFeature_card__RA9EB p {
    font-size: 14px
}

@media (max-width:476px) {
    .EmiCalculatorFeature_title__fSnOO {
        font-size: 28px
    }
}

.EmiCalculatorIntro_subtitle__A_97o,
.EmiCalculatorIntro_title__H_qMF {
    font-size: 32px;
    font-weight: 600
}

.EmiCalculatorIntro_desc__wdIn1 {
    line-height: 28px
}

.EmiCalculatorIntro_subtitle__A_97o {
    margin-top: 80px
}

@media (max-width:576px) {
    .EmiCalculatorIntro_layout___uq4H img {
        width: 100%
    }
}

@media (max-width:476px) {
    .EmiCalculatorIntro_subtitle__A_97o,
    .EmiCalculatorIntro_title__H_qMF {
        font-size: 28px
    }
    .EmiCalculatorIntro_subtitle__A_97o {
        margin-top: 60px
    }
}

.EmiCalculatorUse_subtitle__QLnyF,
.EmiCalculatorUse_title__SwyDx {
    font-size: 32px;
    font-weight: 600
}

.EmiCalculatorUse_layout__REGCI h3,
.EmiCalculatorUse_layout__REGCI li {
    font-size: 18px
}

.EmiCalculatorUse_subtitle__QLnyF {
    margin-top: 80px
}

@media (max-width:476px) {
    .EmiCalculatorUse_subtitle__QLnyF,
    .EmiCalculatorUse_title__SwyDx {
        font-size: 28px
    }
    .EmiCalculatorUse_subtitle__QLnyF {
        margin-top: 40px
    }
}

.EmiCalculatorWithChart_title__qLAbA {
    font-size: 32px;
    font-weight: 600
}

.EmiCalculatorWithChart_layout__jYJrl {
    margin: 0 auto 80px
}

.EmiCalculatorWithChart_layout__jYJrl canvas {
    max-width: 200px !important;
    max-height: 200px !important
}

.EmiCalculatorWithChart_slider__mQmqy {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: rgba(60, 60, 67, .18);
    outline: none;
    transition: opacity .2s
}

.EmiCalculatorWithChart_slider__mQmqy:hover {
    opacity: 1
}

.EmiCalculatorWithChart_slider__mQmqy::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 6px 13px 0 rgba(0, 0, 0, .122);
    border-radius: 50%
}

.EmiCalculatorWithChart_slider__mQmqy::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 .5px 4px 0 rgba(0, 0, 0, .122);
    border-radius: 50%
}

.EmiCalculatorWithChart_slider-title__j_kf8 {
    color: #525252
}

.EmiCalculatorWithChart_tabs-scroll__OwJ2U {
    margin: 28px 0 0
}

.EmiCalculatorWithChart_tabs-scroll__OwJ2U::-webkit-scrollbar {
    display: none
}

.EmiCalculatorWithChart_tab____Qkm {
    padding: 9px 26px;
    opacity: .6;
    border-bottom: 2px solid transparent
}

.EmiCalculatorWithChart_tab__active__Ml7Ye {
    border-bottom: 2px solid #e73f4e;
    opacity: 1
}

.EmiCalculatorWithChart_toggle_loans__qugqr {
    border-radius: 10px;
    padding: 10px 24px;
    border: 1px solid #e73f4e;
    color: #e73f4e;
    font-size: 16px
}

.EmiCalculatorWithChart_slider-top__m_Tpe label {
    font-weight: 500;
    font-size: 20px;
    color: #e73f4e;
    background: rgba(231, 63, 78, .102);
    padding: 4px 8px;
    border-radius: 4px
}

.EmiCalculatorWithChart_slider-top__m_Tpe label.EmiCalculatorWithChart_active__5I3Rt {
    border-bottom: 1px solid #dcdcdd;
    color: #232323;
    font-weight: 500;
    font-size: 20px;
    background: transparent
}

.EmiCalculatorWithChart_slider-top__m_Tpe label input {
    background: transparent
}

.EmiCalculatorWithChart_slider-top__m_Tpe input {
    border: none;
    outline: none;
    width: 160px
}

.EmiCalculatorWithChart_calculator__C0yki {
    gap: 8%
}

.EmiCalculatorWithChart_chart__area__H0UYN {
    max-width: 500px
}

.EmiCalculatorWithChart_apply__btn__jpspX {
    background: #e73f4e;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    margin-top: 24px
}

.EmiCalculatorWithChart_total__QBu31 {
    background: rgba(74, 149, 228, .051);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px
}

.EmiCalculatorWithChart_calcs__dWwwl p span,
.EmiCalculatorWithChart_total__QBu31 span {
    font-weight: 600
}

.EmiCalculatorWithChart_calcs__dWwwl p span:first-child {
    font-weight: 500;
    color: #9a9a9a
}

@media(max-width:1160px) {
    .EmiCalculatorWithChart_chart__area__H0UYN {
        max-width: 350px
    }
}

@media(max-width:1000px) {
    .EmiCalculatorWithChart_calculator__C0yki {
        flex-direction: column;
        gap: 50px
    }
    .EmiCalculatorWithChart_chart__area__H0UYN {
        max-width: 100%
    }
}

@media(max-width:476px) {
    .EmiCalculatorWithChart_title__qLAbA {
        font-size: 28px
    }
}

.TypesOfEmiCalc_layout__95ap0 {
    background: #f9fbff;
    padding: 60px 0;
    margin: 50px 0
}

.TypesOfEmiCalc_title___yncJ {
    font-size: 32px
}

.TypesOfEmiCalc_card__fl42k {
    border: 1px solid #ececec;
    padding: 16px;
    border-radius: 4px
}

.TypesOfEmiCalc_card__fl42k img {
    width: 36px;
    height: 36px
}

.TypesOfEmiCalc_card__fl42k h3 {
    font-size: 18px
}

.TypesOfEmiCalc_card__fl42k p {
    line-height: 28px
}

@media (max-width:476px) {
    .TypesOfEmiCalc_title___yncJ {
        font-size: 28px
    }
    .TypesOfEmiCalc_layout__95ap0 {
        margin: 40px 0;
        padding: 40px 0
    }
}