@charset "UTF-8";
.loan-types_loan-types-container__rZl10 {
    padding: 100px 0 32px
}

@media(max-width:640px) {
    .loan-types_loan-types-container__rZl10 {
        padding: 60px 0 10px
    }
}

.loan-types_loan-types-container__rZl10 .loan-types_loan-types-title__uoUbg {
    color: #3c3c3c;
    font-size: 32px;
    font-weight: 600
}

.loan-types_loan-types-container__rZl10 .loan-types_types_desc__K8Tbd {
    margin-bottom: 32px
}

.loan-types_loan-types-container__rZl10 .loan-types_loan-type-box__uwczj {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(67, 118, 186, .2);
    padding: 16px;
    margin-bottom: 40px;
    position: relative;
    cursor: pointer;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.loan-types_loan-types-container__rZl10 .loan-types_loan-type-box__uwczj .loan-types_title__mciu5 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 500;
    padding-right: 45px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis
}

.loan-types_loan-types-container__rZl10 .loan-types_loan-type-box__uwczj .loan-types_desc__fDdIc {
    color: #525252;
    font-size: 16px
}

.loan-types_loan-types-container__rZl10 .loan-types_loan-type-box__uwczj .loan-types_availability__QCcCq {
    color: #e73f4e;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 35px
}

.loan-types_loan-types-container__rZl10 .loan-types_loan-type-box__uwczj .loan-types_availability__QCcCq span {
    margin-left: 10px
}

.loan-types_loan-types-container__rZl10 .loan-types_loan-type-box__uwczj .loan-types_availability__QCcCq span img {
    width: 24px;
    height: 24px;
    object-fit: contain
}

.loan-types_loan-types-container__rZl10 .loan-types_loan-type-box__uwczj .loan-types_loan-img__V1FLX {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    max-height: 50px;
    max-width: 50px;
    height: auto;
    object-fit: contain
}

.insurance-types_insurance-types-container__aKRuz {
    margin-bottom: 58px
}

@media(max-width:640px) {
    .insurance-types_insurance-types-container__aKRuz {
        margin-bottom: 40px
    }
}

.insurance-types_insurance-types-container__aKRuz .insurance-types_insurance-types-title__ccYUs {
    color: #3c3c3c;
    font-size: 32px;
    font-weight: 600
}

.insurance-types_insurance-types-container__aKRuz .insurance-types_types_desc__Nu4J8 {
    margin-bottom: 32px
}

.insurance-types_insurance-types-container__aKRuz .insurance-types_insurance-type-box__wOBsz {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(67, 118, 186, .2);
    padding: 16px;
    margin-bottom: 40px;
    position: relative;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.insurance-types_insurance-types-container__aKRuz .insurance-types_insurance-type-box__wOBsz .insurance-types_title__RQAvB {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 500;
    padding-right: 45px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis
}

.insurance-types_insurance-types-container__aKRuz .insurance-types_insurance-type-box__wOBsz .insurance-types_desc__gDEAz {
    color: #525252;
    font-size: 16px
}

.insurance-types_insurance-types-container__aKRuz .insurance-types_insurance-type-box__wOBsz .insurance-types_availability__lDWCk {
    color: #e73f4e;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 35px
}

.insurance-types_insurance-types-container__aKRuz .insurance-types_insurance-type-box__wOBsz .insurance-types_availability__lDWCk span {
    margin-left: 10px
}

.insurance-types_insurance-types-container__aKRuz .insurance-types_insurance-type-box__wOBsz .insurance-types_availability__lDWCk span img {
    width: 24px;
    height: 24px;
    object-fit: contain
}

.insurance-types_insurance-types-container__aKRuz .insurance-types_insurance-type-box__wOBsz .insurance-types_insurance-img__y_wWi {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    max-height: 50px;
    height: auto;
    object-fit: contain
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after,
.slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) 50% no-repeat
}

@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format("embedded-opentype"), url(/_next/static/media/slick.653a4cbb.woff) format("woff"), url(/_next/static/media/slick.6aa1ee46.ttf) format("truetype"), url(/_next/static/media/slick.f895cfdf.svg#slick) format("svg")
}

.slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
    border: none
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
    color: transparent;
    outline: none;
    background: transparent
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    right: -25px;
    left: auto
}

.slick-prev:before {
    content: "←"
}

[dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    right: auto;
    left: -25px
}

.slick-next:before {
    content: "→"
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0
}

.slick-dots li,
.slick-dots li button {
    width: 20px;
    height: 20px;
    cursor: pointer
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    padding: 5px;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: none
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000
}

.Process-Design_achivement__Ef1oI * {
    text-align: center
}

.Process-Design_achivement__Ef1oI img {
    height: 120px
}

@media(max-width:640px) {
    .Process-Design_achivement__Ef1oI img {
        height: auto;
        width: 100%
    }
}

.Process-Design_achivement__title__1S4Xh {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #5d5d5d
}

@media(max-width:640px) {
    .Process-Design_achivement__title__1S4Xh {
        text-align: center
    }
}

.Process-Design_achivement__img-box__LbDk4 {
    width: 130px;
    height: 130px;
    margin: auto
}

@media(max-width:640px) {
    .Process-Design_achivement__img-box__LbDk4 {
        height: auto;
        width: 180px
    }
}

.Process-Design_achivements__bfKuv {
    grid-template-columns: 180px repeat(3, 1fr);
    margin: 32px 0;
    gap: 30px
}

@media(max-width:1000px) {
    .Process-Design_achivements__bfKuv {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(max-width:1200px) {
    .Process-Design_achivements__bfKuv {
        gap: 50px
    }
}

@media(max-width:1000px) {
    .Process-Design_achivements__bfKuv {
        gap: 20px
    }
}

@media(max-width:850px) {
    .Process-Design_achivements__bfKuv {
        grid-template-columns: 1fr 1fr
    }
}

@media(max-width:640px) {
    .Process-Design_achivements__bfKuv {
        grid-template-columns: 1fr
    }
}

.Process-Design_countup__Fkcqd {
    font-size: 36px;
    color: #e73f4e;
    max-height: 56px;
    font-weight: 600;
    letter-spacing: -1.44px;
    line-height: 44px;
    justify-content: center
}

@media(max-width:640px) {
    .Process-Design_countup__Fkcqd {
        font-size: 42px
    }
}

.Process-Design_countup__Fkcqd span div div:last-child {
    padding-right: 4px;
    min-width: 29px !important
}

.Process-Design_layout__6rCG8 {
    background: #f9fbff;
    padding: 50px 0
}

.Process-Design_master_title__Wnkxe {
    font-size: 32px;
    font-weight: 600;
    line-height: 46.4px;
    letter-spacing: -.03em;
    color: #3c3c3c
}

@media(max-width:640px) {
    .Process-Design_master_title__Wnkxe {
        font-size: 24px;
        line-height: 1.5
    }
}

.Process-Design_master__footer__mFsgI {
    font-weight: 400;
    line-height: 26px;
    color: #516278
}

@media(max-width:1400px) {
    .Process-Design_countup__Fkcqd {
        font-size: 30px
    }
}

@media(max-width:1200px) {
    .Process-Design_countup__Fkcqd {
        font-size: 22px
    }
}

@media(max-width:1000px) {
    .Process-Design_countup__Fkcqd {
        font-size: 28px
    }
}

@media(max-width:640px) {
    .Process-Design_countup__Fkcqd {
        font-size: 32px
    }
}

.hkcta_BannerContainer__np29Y {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    background: #c5e1ff;
    padding: 58px 0
}

.hkcta_banner___VhhB {
    border-radius: 12px;
    overflow: hidden
}

.hkcta_banner___VhhB:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(90deg, #e1efff 30.22%, rgba(225, 239, 255, .75) 44.79%, rgba(225, 239, 255, .5) 54.58%, rgba(225, 239, 255, 0) 65.39%)
}

.hkcta_sliders__87Skd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    transform: translateY(25px)
}

.hkcta_slider__jCnm3 {
    white-space: nowrap;
    z-index: 0
}

.hkcta_secondslider__DMdhI {
    padding-top: 16px
}

.hkcta_slidercontent__zpElu {
    display: inline-block;
    padding: 0 8px;
    flex: none
}

.hkcta_slidercontent__zpElu img {
    padding-left: 0 !important
}

.hkcta_slider__jCnm3 img {
    width: 278px;
    height: 157px;
    object-fit: cover;
    object-position: center
}

.hkcta_content__8FxJb {
    max-width: 750px;
    position: relative;
    z-index: 2
}

.hkcta_title__qJf6h {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    letter-spacing: -.15px;
    color: #e73f4e
}

.hkcta_text-btn__GbeOv {
    display: flex;
    flex-direction: column
}

.hkcta_text__GAHD6 ul {
    font-size: 18px;
    font-weight: 500;
    padding-left: 25px;
    letter-spacing: .2px;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #000;
    line-height: 28.8px
}

@media(max-width:640px) {
    .hkcta_text__GAHD6 ul {
        line-height: 1.6
    }
}

.hkcta_mainbutton__vvb4C {
    max-width: 180px;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 6px;
    background: #e73f4e;
    color: #f9fbff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    z-index: 2;
    margin-top: 20px
}

@media screen and (max-width:769px) {
    .hkcta_sliders__87Skd {
        top: -70px !important
    }
    .hkcta_banner___VhhB:before {
        background: linear-gradient(90deg, #e1efff 30.22%, rgba(225, 239, 255, .75) 44.79%, rgba(225, 239, 255, .715) 54.58%, rgba(225, 239, 255, .781) 66%)
    }
    .hkcta_title__qJf6h {
        font-size: 16px
    }
    .hkcta_text__GAHD6 {
        font-size: 18px;
        line-height: 25px
    }
    .hkcta_mainbutton__vvb4C {
        margin-top: 20px
    }
}

.HomePage_partner__with__FU2_r {
    gap: 60px
}

@media(max-width:1000px) {
    .HomePage_partner__with__FU2_r {
        flex-direction: column;
        gap: 40px
    }
    .HomePage_partner__with__FU2_r img {
        max-width: 100% !important
    }
}

.HomePage_advantages___kMSg {
    padding-bottom: 100px
}

@media(max-width:1199px) {
    .HomePage_advantages___kMSg {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 60px !important
    }
}

@media(max-width:640px) {
    .HomePage_advantages___kMSg {
        padding-bottom: 60px
    }
}

.HomePage_partner__with__FU2_r img {
    max-width: calc(50% - 30px)
}

.HomePage_partner__app__hGggA {
    padding-bottom: 80px
}

.HomePage_partner__app__hGggA .HomePage_img__partner_app__lEwTY {
    max-width: 681px
}

@media(max-width:1400px) {
    .HomePage_partner__app__hGggA .HomePage_img__partner_app__lEwTY {
        max-width: 600px
    }
}

@media(max-width:1000px) {
    .HomePage_partner__app__hGggA .HomePage_img__partner_app__lEwTY {
        max-width: 800px;
        width: 100%
    }
}

@media(max-width:1199px) {
    .HomePage_partner__app__hGggA {
        flex-direction: column;
        gap: 40px
    }
}

@media(max-width:640px) {
    .HomePage_partner__app__hGggA {
        padding-bottom: 0
    }
}

.HomePage_partner__app__hGggA .HomePage_partner__title__bXD0Y {
    font-size: 32px;
    font-weight: 600;
    line-height: 46.4px;
    letter-spacing: -.400000006px;
    margin-bottom: 24px
}

@media(max-width:640px) {
    .HomePage_partner__app__hGggA .HomePage_partner__title__bXD0Y {
        font-size: 24px;
        line-height: 1.5
    }
}

.HomePage_partner__app__hGggA h3 {
    color: #4376ba;
    font-weight: 600;
    font-size: 16px
}

.HomePage_partner__app__hGggA li,
.HomePage_partner__app__hGggA p {
    color: #202020;
    line-height: 26px
}

.HomePage_advantages__img__VwqtO {
    max-width: 550px
}

@media(max-width:1300px) {
    .HomePage_advantages__img__VwqtO {
        max-width: 450px
    }
}

@media(max-width:1199px) {
    .HomePage_advantages__img__VwqtO {
        display: block;
        margin: auto
    }
}

@media(max-width:1000px) {
    .HomePage_advantages__img__VwqtO {
        max-width: 720px
    }
}

.HomePage_image__mobile__ZqSAC {
    display: none
}

.HomePage_card__zo_8R {
    box-shadow: 10px 10px 20px 0 rgba(70, 91, 151, .161);
    padding: 12px 15px;
    border: 1px solid #f5f9ff;
    border-radius: 6px;
    transition: all .6s ease-in-out
}

.HomePage_card__zo_8R:hover {
    background: #d4e5ff;
    border: 1px solid #f5f9ff;
    box-shadow: 0 4px 10px 0 rgba(201, 222, 255, .502)
}

.HomePage_card__zo_8R img {
    width: 65px;
    height: 65px
}

.HomePage_card__zo_8R a {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #3c3c3c
}

.HomePage_card__zo_8R a:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.HomePage_advantage_list__mbtW0 {
    grid-template-columns: 1fr 1fr;
    gap: 24px
}

@media(max-width:1000px) {
    .HomePage_advantage_list__mbtW0 {
        width: 100%
    }
}

@media(max-width:620px) {
    .HomePage_advantage_list__mbtW0 {
        grid-template-columns: 1fr
    }
}

.HomePage_program__trLgb {
    margin-top: 80px
}

@media(max-width:900px) {
    .HomePage_image__mobile__ZqSAC {
        display: block
    }
    .HomePage_image__desk__25LGK {
        display: none
    }
}

.HomePage_program__points__j75NS h3 {
    font-size: 20px;
    color: #3c3c3c;
    font-weight: 600
}

.HomePage_program__points__j75NS svg {
    flex-shrink: 0
}

.HomePage_benefits-title__WeiKD {
    padding-top: 80px;
    color: #3c3c3c;
    font-size: 32px;
    font-weight: 600
}

@media(max-width:600px) {
    .HomePage_benefits-title__WeiKD {
        font-size: 24px;
        margin-top: 22px;
        padding-top: 30px
    }
}

.HomePage_downloads_action__Ih3ra {
    padding-top: 20px;
    gap: 32px
}

@media(max-width:1199px) {
    .HomePage_downloads_action__Ih3ra {
        padding-top: 30px;
        gap: 25px
    }
}

@media(max-width:640px) {
    .HomePage_downloads_action__Ih3ra {
        gap: 10px;
        justify-content: space-between
    }
}

@media(max-width:380px) {
    .HomePage_downloads_action__Ih3ra div {
        gap: 5px !important
    }
}

.HomePage_downloads_action__Ih3ra .HomePage_or__text__kYDZ1 {
    font-size: 18px;
    font-weight: 600;
    color: #3c3c3c;
    line-height: 26px;
    margin: 0
}

@media(max-width:640px) {
    .HomePage_downloads_action__Ih3ra .HomePage_or__text__kYDZ1 {
        display: none
    }
}

.HomePage_downloads_action__Ih3ra .HomePage_qr__img__mr_Td {
    width: 85px
}

@media(max-width:379px) {
    .HomePage_downloads_action__Ih3ra .HomePage_qr__img__mr_Td {
        width: 78px
    }
}

@media(max-width:640px) {
    .HomePage_downloads_action__Ih3ra .HomePage_qr__img__mr_Td {
        width: 62px
    }
}

@media(max-width:350px) {
    .HomePage_downloads_action__Ih3ra .HomePage_qr__img__mr_Td {
        flex-basis: 45%
    }
}

.HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV,
.HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq {
    border-radius: 4px;
    padding: 5px 10px
}

.HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV p,
.HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq p {
    margin: 0;
    line-height: normal;
    font-size: 12px;
    font-weight: 600
}

.HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV p:first-child,
.HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq p:first-child {
    font-size: 8px
}

@media(max-width:640px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV p,
    .HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq p {
        font-size: 10px
    }
    .HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV p:first-child,
    .HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq p:first-child {
        font-size: 6px
    }
}

@media(max-width:380px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV,
    .HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq {
        padding: 5px 6px
    }
}

@media(max-width:350px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV,
    .HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq {
        padding: 8px 6px;
        justify-content: center
    }
    .HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV p,
    .HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq p {
        font-size: 12px
    }
    .HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV p:first-child,
    .HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq p:first-child {
        font-size: 8px
    }
}

.HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV img {
    width: 18px
}

@media(max-width:380px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV img {
        width: 15px
    }
}

@media(max-width:350px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn1__WwxvV img {
        width: 20px
    }
}

.HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq img {
    width: 20px
}

@media(max-width:380px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq img {
        width: 16px
    }
}

@media(max-width:350px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn2__lcWQq img {
        width: 20px
    }
}

.HomePage_downloads_action__Ih3ra .HomePage_btn3__3rbG4,
.HomePage_downloads_action__Ih3ra .HomePage_btn4__qR7Fg {
    background: #e73f4e;
    padding: 18px 15px;
    border-radius: 6px
}

@media(max-width:1199px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn3__3rbG4,
    .HomePage_downloads_action__Ih3ra .HomePage_btn4__qR7Fg {
        padding: 14px 20px
    }
}

@media(max-width:640px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn3__3rbG4,
    .HomePage_downloads_action__Ih3ra .HomePage_btn4__qR7Fg {
        font-size: 14px;
        padding: 10px 6px
    }
}

.HomePage_downloads_action__Ih3ra .HomePage_btn4__qR7Fg {
    display: none
}

@media(max-width:350px) {
    .HomePage_downloads_action__Ih3ra .HomePage_btn4__qR7Fg {
        display: block
    }
    .HomePage_downloads_action__Ih3ra .HomePage_btn3__3rbG4 {
        display: none
    }
}

@media(max-width:315px) {
    .HomePage_downloads_action__Ih3ra {
        flex-wrap: wrap;
        gap: 16px
    }
    .HomePage_downloads_action__Ih3ra .HomePage_btn4__qR7Fg {
        display: none
    }
    .HomePage_downloads_action__Ih3ra div {
        flex-grow: 1;
        gap: 16px !important
    }
    .HomePage_downloads_action__Ih3ra .HomePage_btn3__3rbG4 {
        display: block;
        width: 100%;
        font-size: 16px;
        text-align: center
    }
}

.BillsAndPayments_bills-payments-container__odyNu {
    padding: 0 0 32px
}

@media(max-width:640px) {
    .BillsAndPayments_bills-payments-container__odyNu {
        padding: 60px 0 10px
    }
}

.BillsAndPayments_bills-payments-container__odyNu .BillsAndPayments_bills-payments-title__G3WQM {
    color: #3c3c3c;
    font-size: 32px;
    font-weight: 600
}

.BillsAndPayments_bills-payments-container__odyNu .BillsAndPayments_types_desc__eKK07 {
    margin-bottom: 32px
}

.BillsAndPayments_bills-payments-container__odyNu .BillsAndPayments_bills-payments-box__j1XkZ {
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(67, 118, 186, .2);
    padding: 16px;
    margin-bottom: 40px;
    position: relative;
    cursor: pointer;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.BillsAndPayments_bills-payments-container__odyNu .BillsAndPayments_bills-payments-box__j1XkZ .BillsAndPayments_title__fA_lP {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 500;
    padding-right: 45px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis
}

.BillsAndPayments_bills-payments-container__odyNu .BillsAndPayments_bills-payments-box__j1XkZ .BillsAndPayments_desc__vEcmz {
    color: #525252;
    font-size: 16px
}

.BillsAndPayments_bills-payments-container__odyNu .BillsAndPayments_bills-payments-box__j1XkZ .BillsAndPayments_availability__efvKO {
    color: #e73f4e;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 35px
}

.BillsAndPayments_bills-payments-container__odyNu .BillsAndPayments_bills-payments-box__j1XkZ .BillsAndPayments_availability__efvKO span {
    margin-left: 10px
}

.BillsAndPayments_bills-payments-container__odyNu .BillsAndPayments_bills-payments-box__j1XkZ .BillsAndPayments_availability__efvKO span img {
    width: 24px;
    height: 24px;
    object-fit: contain
}

.BillsAndPayments_bills-payments-container__odyNu .BillsAndPayments_bills-payments-box__j1XkZ .BillsAndPayments_loan-img__l3bjf {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    max-height: 50px;
    max-width: 50px;
    height: auto;
    object-fit: contain
}